* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, blue, violet);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 30px;
    color: aliceblue;
    font-weight: 900;
    font-family: sans-serif;
    text-decoration: underline;
}

.container {
    height: 60vh;
    width: 30vw;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 20px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}

.container::-webkit-scrollbar {
    display: none;
}

.container .input {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 30vw;
    padding: 10px;
    background-color: aqua;
    position: fixed;
    border-radius: 5px;
}

.container .input input {
    height: 5vh;
    width: 20vw;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    margin-right: 2vw;
}

.container .input button {
    height: 5vh;
    width: 20%;
    background-color: green;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;
}

.container .input button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: green;
}

.container .todolist {
    margin-top: 12vh;
}

.container .todolist .newtask {
    display: flex;
    justify-content: space-between;
}

.newtask {
    height: 5vh;
    width: 28vw;
    background-color: black;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.newtask span {
    color: aliceblue;
    font-size: 15px;
}

.newtask button {
    background-color: aliceblue;
    padding: 5px;
    font-weight: 500;
    color: red;
    border-radius: 5px;
}

.newtask button:hover {
    cursor: pointer;
    background-color: red;
    color: aliceblue;

}

@media only screen and (max-width:720px) {
    .container {
        height: 60vh;
        width: 90vw;
        background-color: aliceblue;
        border-radius: 5px;
        margin: 20px;
        overflow-y: scroll;
        display: flex;
        justify-content: center;
    }

    .container .input input {
        height: 5vh;
        width: 80vw;
        border-radius: 5px;
        padding: 5px;
        font-size: 15px;
        margin-right: 2vw;
    }

    .container .input button {
        height: 5vh;
        width: 40vw;
        background-color: green;
        color: aliceblue;
        font-weight: 700;
        border-radius: 5px;
    }

    .container .input {
        display: flex;
        justify-content: space-between;
        height: 10vh;
        width: 90vw;
        padding: 10px;
        background-color: aqua;
        position: fixed;
        border-radius: 5px;
    }

    .newtask {
        height: 5vh;
        width: 80vw;
        background-color: black;
        margin: 10px;
        border-radius: 5px;
    }
}